body {
	background-color: #f2f2f2;
}

.affix { position: fixed; top 0px; }

section { display: none; }
section.active{ display: block; }


.navbar {
	background: url(../images/header_img.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

.navbar-toggle {
    position: absolute;
    right: 0px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f2f2f2;
    background-image: none;
    border: 1px solid #555;
    border-radius: 4px;
    bottom: 10px;
}

.navbar-toggle .icon-bar {
	background-color: #444;
}

nav .navbar-collapse {
    position: absolute;
    top: 200px;
    background: white;
    width: 100%;
    z-index: 10;
}

nav div.container {
	    background: #f2f2f2;
    border: 1px solid #444;
    border-radius: 4px;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: #444;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #444;
    background-color: #fff;
    border-left: 3px solid #444;
    border-radius: 0px;
}

.navbar-nav>li>a {
    color: #444;
}

ul.navbar-nav li.active {
    font-weight: bold;
    border-left: 3px solid #444;
    background: #f2f2f2;
}

a.navbar-brand {
	position: absolute;
	bottom: 10px;
	font-size: 30px;
	color: #fff;
    width: 75%;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #fff;
	font-weight: bold;
	transition: font 0.5s ease
}

div.side-nav {
	position: absolute;
	top:210px;
	right: 10px;
	display: none;
}

div.side-nav.affix {
	position: fixed;
	top: 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image : none;
    opacity: 1.0;
}

@media (min-width: 768px) {
	div.collapse.navbar-collapse { visibility: hidden; }
	div.side-nav { display: block; }
    a.navbar-brand { font-size: 36px; }
}